.left-8 {
  left: 2rem
}

.left-2 {
  left: 0.5rem
}

.right-40 {
  right: 10rem
}

.left-16 {
  left: 4rem
}

.right-20 {
  right: 5rem
}

.left-36 {
  left: 9rem
}

.left-28 {
  left: 7rem
}

.right-44 {
  right: 11rem
}

.top-1 {
  top: 0.25rem
}

.top-4 {
  top: 1rem
}

.top-2 {
  top: 0.5rem
}

.mx-4 {
  margin-left: 1rem;
  margin-right: 1rem
}

.mx-40 {
  margin-left: 10rem;
  margin-right: 10rem
}

.mx-36 {
  margin-left: 9rem;
  margin-right: 9rem
}

.mt-5 {
  margin-top: 1.25rem
}

.mt-2 {
  margin-top: 0.5rem
}

.mt-8 {
  margin-top: 2rem
}

.mb-3 {
  margin-bottom: 0.75rem
}

.mt-16 {
  margin-top: 4rem
}

.mb-0 {
  margin-bottom: 0px
}

.flex {
  display: flex
}

.h-16 {
  height: 4rem
}

.h-4\/5 {
  height: 80%
}

.h-20 {
  height: 5rem
}

.h-10 {
  height: 2.5rem
}

.h-40 {
  height: 10rem
}

.w-4\/5 {
  width: 80%
}

.w-0 {
  width: 0px
}

.w-20 {
  width: 5rem
}

.w-14 {
  width: 3.5rem
}

.w-10 {
  width: 2.5rem
}

.w-40 {
  width: 10rem
}

.flex-1 {
  flex: 1 1 0%
}

.flex-grow {
  flex-grow: 1
}

.flex-row {
  flex-direction: row
}

.flex-col {
  flex-direction: column
}

.items-center {
  align-items: center
}

.justify-center {
  justify-content: center
}

.rounded {
  border-radius: 0.25rem
}

.border-2 {
  border-width: 2px
}

.border {
  border-width: 1px
}

.border-black {
  --tw-border-opacity: 1;
  border-color: rgb(0 0 0 / var(--tw-border-opacity))
}

.bg-slate-200 {
  --tw-bg-opacity: 1;
  background-color: rgb(226 232 240 / var(--tw-bg-opacity))
}

.bg-\[\#d9d9d9\] {
  --tw-bg-opacity: 1;
  background-color: rgb(217 217 217 / var(--tw-bg-opacity))
}

.text-center {
  text-align: center
}

.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem
}

.font-bold {
  font-weight: 700
}

.text-blue-600 {
  --tw-text-opacity: 1;
  color: rgb(37 99 235 / var(--tw-text-opacity))
}
