.top-9 {
  top: 2.25rem
}

.right-1 {
  right: 0.25rem
}

.top-8 {
  top: 2rem
.absolute {
  position: absolute
}

.relative {
  position: relative
}

.left-8 {
  left: 2rem
}

.left-2 {
  left: 0.5rem
}

.left-8 {
  left: 2rem
}

.right-40 {
  right: 10rem
}

.left-16 {
  left: 4rem
}

.right-20 {
  right: 5rem
}

.left-36 {
  left: 9rem
}

.left-28 {
  left: 7rem
}

.right-44 {
  right: 11rem
}

.top-1 {
  top: 0.25rem
}

.left-24 {
  left: 6rem
}

.top-4 {
  top: 1rem
}

.top-2 {
  top: 0.5rem
}

.top-20 {
  top: 5rem
.right-8 {
  right: 2rem
}

.left-12 {
  left: 3rem
}

.left-10 {
  left: 2.5rem
}

.left-6 {
  left: 1.5rem
}
.left-5 {
  left: 1.25rem
}

.left-40 {
  left: 10rem
}

.right-8 {
  right: 2rem
}

.left-20 {
  left: 5rem
}

.left-32 {
  left: 8rem
.left-4 {
  left: 1rem
}

.left-3 {
  left: 0.75rem
}
.right-2 {
  right: 0.5rem
}

.right-4 {
  right: 1rem
}


.left-1 {
  left: 0.25rem
}
.bottom-2 {
  bottom: 0.5rem
}

.bottom-4 {
  bottom: 1rem
}

.bottom-1 {
  bottom: 0.25rem
}
.left-20 {
  left: 5rem
}
.top-8 {
  top: 2rem
}

.left-20 {
  left: 5rem
}

.bottom-8 {
  bottom: 2rem
}

.bottom-16 {
  bottom: 4rem
}

.right-6 {
  right: 1.5rem
}

.right-1 {
  right: 0.25rem
}

.right-10 {
  right: 2.5rem
}

.top-12 {
  top: 3rem
}

.top-9 {
  top: 2.25rem
}
.bottom-1 {
  bottom: 0.25rem
}

.mx-40 {
  margin-left: 10rem;
  margin-right: 10rem
}

.mx-36 {
  margin-left: 9rem;
  margin-right: 9rem
}

.mx-8 {
  margin-left: 2rem;
  margin-right: 2rem
}

.mx-4 {
  margin-left: 1rem;
  margin-right: 1rem
}

.mx-32 {
  margin-left: 8rem;
  margin-right: 8rem
}

.mx-4 {
  margin-left: 1rem;
  margin-right: 1rem
}

.mx-4 {
  margin-left: 1rem;
  margin-right: 1rem
}

.mt-5 {
  margin-top: 1.25rem
}

.mt-2 {
  margin-top: 0.5rem
}

.mt-8 {
  margin-top: 2rem
}

.mb-3 {
  margin-bottom: 0.75rem
}

.mt-4 {
  margin-top: 1rem
}

.mt-16 {
  margin-top: 4rem
}

.mb-0 {
  margin-bottom: 0px
}

.mt-12 {
  margin-top: 3rem
}
.mb-8 {
  margin-bottom: 2rem
}

.mb-16 {
  margin-bottom: 4rem
}

.mb-24 {
  margin-bottom: 6rem
}

.mb-28 {
  margin-bottom: 7rem
}

.flex {
  display: flex
}

.h-20 {
  height: 5rem
}

.h-16 {
  height: 4rem
}

.h-10 {
  height: 2.5rem
}

.h-40 {
  height: 10rem
}

.h-4\/5 {
  height: 80%
}

.h-5 {
  height: 1.25rem
}

.h-4 {
  height: 1rem
}

.h-8 {
  height: 2rem
}
.h-14 {
  height: 3.5rem
}

.h-6 {
  height: 1.5rem
}

.h-3 {
  height: 0.75rem
}

.h-12 {
  height: 3rem
}

.h-14 {
  height: 3.5rem
}

.h-24 {
  height: 6rem
}

.h-44 {
  height: 11rem
}

.h-28 {
  height: 7rem
}

.h-1 {
  height: 0.25rem
}

.w-0 {
  width: 0px
}

.w-20 {
  width: 5rem
}

.w-14 {
  width: 3.5rem
}

.w-10 {
  width: 2.5rem
}

.w-40 {
  width: 10rem
}

.w-44 {
  width: 11rem
}

.w-4\/5 {
  width: 80%
}

.w-3 {
  width: 0.75rem
}
.w-12 {
  width: 3rem
}

.w-8 {
  width: 2rem
}

.w-16 {
  width: 4rem
}

.w-24 {
  width: 6rem
}

.w-5 {
  width: 1.25rem
}

.w-12 {
  width: 3rem
}

.w-9 {
  width: 2.25rem
}

.w-6 {
  width: 1.5rem
}

.w-60 {
  width: 15rem
}

.flex-1 {
  flex: 1 1 0%
}

.flex-grow {
  flex-grow: 1
}

.flex-row {
  flex-direction: row
}

.flex-col {
  flex-direction: column
}

.flex-wrap {
  flex-wrap: wrap
}

.content-center {
  align-content: center
}

.items-center {
  align-items: center
}

.justify-center {
  justify-content: center
}

.rounded {
  border-radius: 0.25rem
}

.rounded-lg {
  border-radius: 0.5rem
}

.border-2 {
  border-width: 2px
}

.border {
  border-width: 1px
}

.border-4 {
  border-width: 4px
}

.border-0 {
  border-width: 0px
}

.border-black {
  --tw-border-opacity: 1;
  border-color: rgb(0 0 0 / var(--tw-border-opacity))
}

.bg-red-800 {
  --tw-bg-opacity: 1;
  background-color: rgb(153 27 27 / var(--tw-bg-opacity))
.border-red-800 {
  --tw-border-opacity: 1;
  border-color: rgb(153 27 27 / var(--tw-border-opacity))
}

.border-\[\#a12427\] {
  --tw-border-opacity: 1;
  border-color: rgb(161 36 39 / var(--tw-border-opacity))
}

.border-white {
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity))
}

.bg-\[\#d9d9d9\] {
  --tw-bg-opacity: 1;
  background-color: rgb(217 217 217 / var(--tw-bg-opacity))
}

.bg-red-800 {
  --tw-bg-opacity: 1;
  background-color: rgb(153 27 27 / var(--tw-bg-opacity))
}

.bg-slate-200 {
  --tw-bg-opacity: 1;
  background-color: rgb(226 232 240 / var(--tw-bg-opacity))
}

.bg-\[\#ffffff\] {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}
.bg-red-800 {
  --tw-bg-opacity: 1;
  background-color: rgb(153 27 27 / var(--tw-bg-opacity))
}

.bg-red-900 {
  --tw-bg-opacity: 1;
  background-color: rgb(127 29 29 / var(--tw-bg-opacity))
}

.bg-\[\#a12427\] {
  --tw-bg-opacity: 1;
  background-color: rgb(161 36 39 / var(--tw-bg-opacity))
}

.bg-red-200 {
  --tw-bg-opacity: 1;
  background-color: rgb(254 202 202 / var(--tw-bg-opacity))
}

.bg-red-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(254 226 226 / var(--tw-bg-opacity))
}

.bg-red-300 {
  --tw-bg-opacity: 1;
  background-color: rgb(252 165 165 / var(--tw-bg-opacity))
}

.bg-red-50 {
  --tw-bg-opacity: 1;
  background-color: rgb(254 242 242 / var(--tw-bg-opacity))
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.bg-transparent {
  background-color: transparent
}

.p-2 {
  padding: 0.5rem
}

.p-4 {
  padding: 1rem
}

.p-2\.5 {
  padding: 0.625rem
}

.p-3 {
  padding: 0.75rem
}

.text-center {
  text-align: center
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem
}

.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem
}

.text-xs {
  font-size: 0.75rem;
  line-height: 1rem
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem
}

.font-bold {
  font-weight: 700
}

.font-semibold {
  font-weight: 600
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}

.text-red-600 {
  --tw-text-opacity: 1;
  color: rgb(220 38 38 / var(--tw-text-opacity))
}

.text-red-800 {
  --tw-text-opacity: 1;
  color: rgb(153 27 27 / var(--tw-text-opacity))
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}

.text-\[\#a12427\] {
  --tw-text-opacity: 1;
  color: rgb(161 36 39 / var(--tw-text-opacity))
}

.text-black {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity))
}
